@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-bg {
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height 
    filter: blur(10px); /* Adjust the blur intensity as needed */
}

.card {
  background-color: #c1c4c7; /* To let the background show */
  width: 75vw; /* 75% of the viewport width */
  height: 75vh; /* 75% of the viewport height */
  margin: auto; /* Center horizontally */
  /* position: relative;
  top: 50%; */
  transform: translateY(-50%); /* Center vertically */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Example shadow */
}

.card-top {
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-bottom {
  background-color: #c1c4c7; /* Or any color you prefer */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  padding: 10px; /* Adjust padding as needed */
}

.card-input {
  background-color: #ffffff; /* Or any color you prefer */
  /* width: 40%; */
  padding: 10px; /* Adjust padding as needed */
}

.card-button {
  background-color: #67719e; /* Or any color you prefer */
  display: flex;
  color: #ffffff; /* Corrected color specification */
  justify-content: center;
  padding: 10px; /* Adjust padding as needed */
  font-size: 0.875rem;
  width: 100%;
}
